<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
 <div style="width: 90%; height: 80px; display: inline-block; padding-left: 5%">
        <div style="width: 33%; height: 100%; float: left; text-align: center; background-color: #f16a43;" onclick="location.href='/home'">
            <h2>Главная страница</h2>
        </div>
        <div style="width: 33%; height: 100%; float: left; text-align: center; background-color: #f16a43;" onclick="location.href='/cab'">
            <h2>Личный кабинет</h2>
        </div>
        <div style="width: 33%; height: 100%; float: left; text-align: center; background-color: #f16a43;" onclick="location.href='/'">
            <h2>Выход</h2>
        </div>
    </div>
<div class="container" style="text-align:center;">
    <p style="color: red">{{ Error }}</p>
    <p><form method="POST" action="/addOrgToJSON/">
        {% csrf_token %}
    <h2> Новая организация:</h2>
        Введите название организации:<input type="text" name="name" required><br><br>
        Укажите директора организации:<select name="director">
                                        {% for elem in dirList %}
                                            <option value="{{ elem }}">{{ elem }}</option>
                                        {% endfor %}
                                      </select><br><br>
        Укажите дату основания(DD.MM.YY): <input type="date" name="date" required><br><br>
        <input type="submit" value="Отправить">
</form></p>
</div>
</body>
</html>